@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["HideNavbar"] = false;
}
<head>
    <style>
        body,
        html {
            height: 100%;
            background-size: cover;
        }

        h1,
        p {
            color: aliceblue;
        }

        .background-radial-gradient {
            background-image: radial-gradient(circle, #172236, #1c2a43, #223250, #273a5d, #2d436b, #2e446d, #2e456e, #2f4670, #2b4066, #26395c, #223352, #1e2d48);
        }
    </style>
</head>

<body class="background-radial-gradient">
    <h1>@ViewData["Title"]</h1>
    <p>Use this page to detail your site's privacy policy.</p>
</body>
